.moreService {
  background-image: url('./assets/icons/moreService2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 421px;
  font-size: 48px;
}

.bankruptcy {
  background-image: url('./assets/icons/bankruptcy2.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 943px;
}

.bankruptcyText {
  font-size: 36px;
  font-weight: 800;
}

.moreDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 30px;
  border: 3px solid white;
  padding: 5px;
}

.criminalLaw {
  background-image: url('./assets/icons/creminalLaw.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 943px;
}

.criminalLawText {
  font-size: 36px;
  font-weight: 800;
}

.moreDetailsCriminalLaw {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 30px;
  border: 3px solid black;
  padding: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inheritance {
  background-image: url('./assets/icons/inheritance.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 943px;
  display: flex;
}

.inheritanceTextContainer {
  width: 580px;
  height: 100%;
  padding-left: 86px;
  color: white;
  background: linear-gradient(rgba(151, 151, 151, 0),rgba(30, 30, 30, 0.87), rgba(0, 0, 0, 1));
}

.inheritanceText {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  height: 100%;
}

.inheritanceContainer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
}

.intellectualRight {
  background-image: url('./assets/icons/intellectualRight2.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 943px;
  display: flex;
  justify-content: space-between;
}

.intellectualRightContainer {
  display: flex;
  width: 100%;
}

.intellectualRightLeft {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
}

.intellectualRightText {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  height: 100%;
  color: white;
  background: linear-gradient(rgba(151, 151, 151, 0),rgba(24, 24, 24, 0.71),rgba(0, 0, 0, 1));
  width: 523px;
  padding-left: 20px;
}

.arbitrationDisputes {
  background-image: url('./assets/icons/arbitrationDisputes2.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 943px;
}

.moreDetailsArbitrationDisputes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 30px;
  border: 3px solid white;
  padding: 5px;
}

.main {
  height: 1117px;
  background-image: url('./assets/icons/main1.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 45px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mainContainerBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.mainText {
  font-size: 32px;
  line-height: 47.5px;
}

.mainTextUrBuro {
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
  text-align: right;
}

.mainTextProblem {
  font-size: 40px;
  line-height: 47px;
  font-weight: 600;
  margin-top: 8px; 
}

.mainTextContainer {
  display: flex;
  justify-content: flex-end;
}

.contactMe {
  font-size: 40px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  padding: 7px;
  margin-top: 8px;
}

.ellipseContainer {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.ellipseBottomContainer {
  display: flex;
  width: 212px;
  justify-content: space-between;
}

.ellipse {
  height: 32px;
  width: 32px;
  border: 7px solid #A6A6A6;
  border-radius: 50%;
  cursor: pointer;;
}
